 /* Page vote  */
a{
    text-decoration: none;
}

.logo{
position : fixed;
 left : 10px;
  top : 10px;

}

.com{
    font-size: 20px;
    color:#00A877;
}
.vote-link
{
    padding: 5px;
}
.vote-selected{
    display: inline-block;
    background-color: rgba(0, 168, 119, 0.5);
    border-radius: 5px;
}

